/* 🔝 NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.navbar h2 {
  margin: 0;
}

/* 🔍 SEARCH BAR */
.navbar input {
  width: 500px;              /* 👈 bada aur premium */
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
}

/* 🛒 CART */
.cart {
  background: white;
  color: black;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.badge{
  background: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 5px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.cart:hover {
  background: #ff4b2b;
  color: white;
}

/* 🎯 BANNER */
.banner {
  height: 220px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

/* 🛍 PRODUCTS GRID (IMPORTANT 🔥) */
.products {
  display: grid;   /* 👈 flex se grid me convert */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 30px;
}

/* 📦 CARD */
.card {
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  padding: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

/* 🖼 IMAGE FIX */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;   /* 👈 image stretch issue fix */
  border-radius: 8px;
}

/* 📝 TEXT */
.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-weight: bold;
  color: #ff4b2b;
}

/* 🔘 BUTTON */
.card button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.9;
}
